.form {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 12px;
}
td,
th {
  border: 1px, solid #000;
  text-align: left;
  padding: 8px;
}
#header {
  background-color: lightgray;
}

#search {
  border-radius: 25px;
  border: 2px solid lightgray;
  padding: 20px;
  width: 400px;
  height: 5px;
  position: relative;
  font-size: 12px;
}

#city {
  background-attachment: lightgray;
}
